body:not(header):not(header *) {
  background-color: lightsteelblue;
}
/*HEADER*/
.nav-link {
  text-align: center;
}
.nav-link:hover {
  background-color: #e7e7e7;
}
/*END HEADER*/

/*MAIN CONTENT*/
#Chicken, #Beef, #Sushi {
  border: 2px solid green;
  margin: 0 auto 20px;
}
#Chicken, #Chicken * {
  background-color: pink;
}
#Beef, #Beef * {
  background-color: indianred;
}
#Sushi, #Sushi * {
  background-color: lightyellow;
}
h3.menu-item-tile {
  text-align: center;
  font-size: 1.3em;
  margin: 0 auto 15px;
}
#Beef h3.menu-item-tile {
  color: white;
}
/*mobiles only*/
@media (max-width: 575px) {
  #Chicken, #Beef, #Sushi {
    margin-left: 20px;
    margin-right: 20px;
  }
}
